In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# USA by day

usa = pd.read_csv('usa_county_wise.csv')

In [7]:
usa[['Date','Province_State','Lat','Long_','Confirmed','Deaths']]

,Date,Province_State,Lat,Long_,Confirmed,Deaths
0,1/22/20,American Samoa,-14.271000,-170.132000,0,0
1,1/22/20,Guam,13.444300,144.793700,0,0
2,1/22/20,Northern Mariana Islands,15.097900,145.673900,0,0
3,1/22/20,Puerto Rico,18.180117,-66.754367,0,0
4,1/22/20,Puerto Rico,18.360255,-67.175131,0,0
...,...,...,...,...,...,...
627915,7/27/20,Utah,39.372319,-111.575868,347,1
627916,7/27/20,Utah,38.996171,-110.701396,70,0
627917,7/27/20,Utah,37.854472,-111.441876,2781,23
627918,7/27/20,Utah,40.124915,-109.517442,142,0
627919,7/27/20,Utah,41.271160,-111.914512,2375,24